h1{
    position: absolute;
    left: 40%;
    top: 14%;
    font-style: italic;
    letter-spacing: 0.1rem;
    color: blue;

}
.four{
    position: absolute;
    left: 40%;
    top: 27%;
    font-style:oblique;
    letter-spacing: 0.1rem;
    color: chartreuse;
}
.one{
    background-image: url("./k3tp1i9.jpg");
    min-height: 100vh;
    background-size: cover;
}
.two{
    position: absolute;
    top: 35%;
    left: 75%;
    min-width: 40vh;
    min-height: 55vh;
    font-style: italic;
    border: 2px solid #2513c1;
    right: 5%;
}
.three{
    color: #f1f5f6;
    position: relative;
    left: 18%;

}
input{
    width: 110px;
    border: 0.1px   solid black;
    background-color: antiquewhite;
    color: #1a1a1b;
    position: relative;
    left: 18%;

}
button{
    background-color: pink;
    color: blue;
    position: relative;
    left: 18%;
}
button:hover{
    background-color: aqua;
    color: black;
}